
@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url(fonts/BasisGrotesquePro-Bold.woff);
}
@font-face {
    font-family: BasisGrotesquePro-Bold;
    src: url(fonts/BasisGrotesquePro-Bold.woff2);
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url(fonts/BasisGrotesquePro-Medium.woff);
}
@font-face {
    font-family: BasisGrotesquePro-Medium;
    src: url(fonts/BasisGrotesquePro-Medium.woff2);
}
@font-face {
    font-family: BasisGrotesquePro-Regular;
    src: url(fonts/BasisGrotesquePro-Regular.woff);
}
@font-face {
    font-family: BasisGrotesquePro-Regular;
    src: url(fonts/BasisGrotesquePro-Regular.woff2);
}
@font-face {
    font-family: BasisGrotesquePro-Light;
    src: url(fonts/BasisGrotesquePro-Light.woff);  
}
@font-face {
    font-family: BasisGrotesquePro-Light;
    src: url(fonts/BasisGrotesquePro-Light.woff2);  
    
}
@font-face {
    font-family: BasisGrotesquePro;
    src: url(fonts/BasisGrotesquePro-Light.woff2);  
    
}

body {
    font-family:'BasisGrotesquePro' ;
}
main {
    font-family:'BasisGrotesquePro' ;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 123vh 123vh 67vh 67vh;
}
h4 {
    margin-top: 18vh;
    margin-left: 10vw;
    font-family:'BasisGrotesquePro-Medium' ;
    font-weight: 700;
    color: blue;
}
.do {
    display: inline-block;
    width: 40vw;
    padding-right: 5vw;
    margin-left: 10vw;
    font-family:'BasisGrotesquePro-Bold' ;
    font-size: 38px;
    padding-top: 2vh;
}
.invest {
    font-family:'BasisGrotesquePro-Bold' ;
    font-size: 38px;
    margin-left: 10vw;  
}
p {
    margin-top: 6vh;
    margin-left: 10vw;
   font-family: 'BasisGrotesquePro-Medium'; 
   font-size: 18px;
   text-transform: uppercase;
}
form {
    margin-top: 46vh;
}

.payment-method {
margin-top: 5%;
font-family:'BasisGrotesquePro-Light' ;
color: rgb(108, 105, 105);
}
.card {
    font-family:'BasisGrotesquePro-Regular' ;  
    margin-left: 10px;
}
div.amount [type="radio"]{
    display: none;
    width: 302px;
}
input:checked + .price {
    border: 0px solid rgb(156, 154, 154);
    background-color: blue;
    color: rgb(255, 255, 255);
    height: 30px;
    margin: 0px;
}

.amount {
    display: flex;
}
.price {
  
    font-family:'BasisGrotesquePro';
    font-weight: 600; 
    color: rgb(84, 82, 82); 
    border: 1px solid rgb(156, 154, 154);
    padding: 20px;
    width: 104px;
    height: 30px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
div .suma {
    width: 576px;
    height: 5vh; 
}
div .frequency {
    margin-top: 4vh;
}
.contact {
    margin-left: 0vw;
    margin-top: 6vh;
}
p.contact {
    font-family:'BasisGrotesquePro-Regular' ;  
}
div.name [type="text"] {
border: none;
border-bottom: 1px solid rgb(156, 154, 154);
padding-bottom: 5px;
width: 24vw;
}
div.email [type="text"] {
    border: none;
    border-bottom: 1px solid rgb(156, 154, 154);
    padding-bottom: 5px;
    width: 24vw;
    }
div.accept [type="checkbox"] {
    margin-left: 0vw;
    margin-top: 5vh;
}  
.accept a{
    text-decoration: none;
    font-family:'BasisGrotesquePro-Light' ;
    color: blue;
}  
div.personal-data [type="checkbox"] {
    margin-top: 2vh;
    margin-left: 0vw;  
}
.personal-data a{
    text-decoration: none;
    font-family:'BasisGrotesquePro-Light' ;
    color: blue;
} 
button.submit {
    margin-top: 5vh;
    width: 12vw;
    height: 6vh;
    color: white;
    background-color: blue;
    border-radius: 0;
    border: none;
}





